gonna preprocess the birds dataset for easier use

In [2]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor

In [3]:
birds_full = pd.read_csv('source_data/birds.csv', sep="\t")
birds_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977813 entries, 0 to 977812
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   gbifID                            977813 non-null  int64
 1   datasetKey                        977813 non-null  object
 2   occurrenceID                      977813 non-null  object
 3   kingdom                           977813 non-null  object
 4   phylum                            977813 non-null  object
 5   class                             977813 non-null  object
 6   order                             977813 non-null  object
 7   family                            977813 non-null  object
 8   genus                             977813 non-null  object
 9   species                           977746 non-null  object
 10  infraspecificEpithet              0 non-null       float64
 11  taxonRank                         977813 non-null  object
 12  scientificName                    977813 non-null  object
 13  verbatimScientificName            977813 non-null  object
 14  verbatimScientificNameAuthorship  0 non-null       float64
 15  countryCode                       975455 non-null  object
 16  locality                          935993 non-null  object
 17  stateProvince                     975053 non-null  object
 18  occurrenceStatus                  977813 non-null  object
 19  individualCount                   181678 non-null  float64
 20  publishingOrgKey                  977813 non-null  object
 21  decimalLatitude                   975936 non-null  float64
 22  decimalLongitude                  975936 non-null  float64
 23  coordinateUncertaintyInMeters     0 non-null       float64
 24  coordinatePrecision               0 non-null       float64
 25  elevation                         0 non-null       float64
 26  elevationAccuracy                 0 non-null       float64
 27  depth                             0 non-null       float64
 28  depthAccuracy                     0 non-null       float64
 29  eventDate                         969674 non-null  object
 30  day                               969674 non-null  float64
 31  month                             969674 non-null  float64
 32  year                              969674 non-null  float64
 33  taxonKey                          977813 non-null  int64
 34  speciesKey                        977746 non-null  float64
 35  basisOfRecord                     977813 non-null  object
 36  institutionCode                   0 non-null       float64
 37  collectionCode                    0 non-null       float64
 38  catalogNumber                     0 non-null       float64
 39  recordNumber                      0 non-null       float64
 40  identifiedBy                      0 non-null       float64
 41  dateIdentified                    0 non-null       float64
 42  license                           977813 non-null  object
 43  rightsHolder                      0 non-null       float64
 44  recordedBy                        977813 non-null  object
 45  typeStatus                        0 non-null       float64
 46  establishmentMeans                0 non-null       float64
 47  lastInterpreted                   977813 non-null  object
 48  mediaType                         0 non-null       float64
 49  issue                             975916 non-null  object
dtypes: float64(25), int64(2), object(23)
memory usage: 373.0+ MB

In [4]:
birds = birds_full[["species", "decimalLatitude", "decimalLongitude", "countryCode", "year", "recordedBy"]]
birds = birds.dropna()
birds = birds[birds["year"] >= 2022].drop("year", axis=1)
birds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 926672 entries, 0 to 977812
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   species           926672 non-null  object
 1   decimalLatitude   926672 non-null  float64
 2   decimalLongitude  926672 non-null  float64
 3   countryCode       926672 non-null  object
 4   recordedBy        926672 non-null  object
dtypes: float64(2), object(3)
memory usage: 42.4+ MB

# 80/20

In [5]:
spec = birds.groupby("species").size().sort_values(ascending=False)
for i in [10000, 1000, 100, 10, 1]:
    print(f">{i}", spec[spec >= i].count())

>10000 26
>1000 129
>100 455
>10 1246
>1 2991

In [6]:
(birds.countryCode == "GB").sum() / birds.shape[0]

0.7765779045875995

In [7]:
top_100_GB = set(birds[birds.countryCode == "GB"].groupby("species").size().sort_values(ascending=False).head(100).index)
top_100_not_GB = set(birds[birds.countryCode != "GB"].groupby("species").size().sort_values(ascending=False).head(100).index)

len(top_100_GB & top_100_not_GB)

45

In [8]:
birds_top = birds[birds.species.isin(top_100_GB)]
birds_top.to_csv("gen_data/birds_top.csv", index=False)